.top{
    width:50%;
}
.hero-img {
    width: 40%;
     display: flex;
    justify-content: center;
}

.hero-img img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}