.main-hero{
    border:black solid 5px;
}
.hero-name{
    font-size: xx-large;
}
.top{
    width:400px;
}
.hero-img {
    width: 40%;
     display: flex;
    justify-content: center;
}

.hero-img img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}